/* CSS for website */

@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/amiri/v7/k2MEYNRoSfd5tdYW9SpWiA.woff2) format('woff2');
}

body {
    font:Amiri;
}
